.countriesList {
    list-style: none;

    margin-block: 0;
    padding: 4px;
}

.country {
    margin: 0 0 8px;

    width: 100%;
    position: relative;
}

.graphContainer {
    overflow-x: scroll;
}

.down,
.up,
.remove,
.add {
    position: absolute;

    opacity: 0.7;
}

.down,
.up,
.remove,
.add {
    background-color: rgba(0, 0, 0, 0);

    border: none;

    color: green;

    cursor: pointer;

    font-size: 25px;

    overflow: hidden;

    outline: none;

    width: 32px;
    height: 25px;

    top: 10px;
}

:is(.down, .up, .remove, .add):hover {
    color: #18d44a;
}

:is(.down, .up, .remove, .add):disabled {
    cursor: not-allowed;
    color: grey;
}

.countriesInput {
    background-color: #7db0681c;

    border: none;

    color: #6f6805;

    font-size: 16px;

    outline: none;

    position: absolute;

    right: 355px;

    top: 17px;
}

.down {
    right: 300px;
}

.up {
    right: 250px;
}

.remove {
    right: 200px;
}

.add {
    right: 150px;
}
