:root {
    --top-button-margin: 8px;
    --padding-between-buttons: 30px;
}

.countriesList {
    list-style: none;

    margin-block: 0;
    padding: 4px;
}

.country {
    margin: 0 0 8px;

    position: relative;
    width: 100%;
}

.graphContainer {
    overflow-x: scroll;
}

.countriesInput,
.down,
.up,
.remove,
.add {
    border: none;
    outline: none;

    position: absolute;
}

.down,
.up,
.remove,
.add {
    background-color: rgba(0, 0, 0, 0);
    color: green;

    cursor: pointer;

    opacity: 0.7;

    overflow: hidden;

    left: 8px;

    width: 40px;
    height: 30px;
}

:is(.down, .up, .remove, .add):hover {
    color: #18d44a;
}

:is(.down, .up, .remove, .add):disabled {
    cursor: not-allowed;
    color: grey;
}

.countriesInput {
    background-color: #7db0681c;
    color: #6f6805;

    font-size: 16px;

    top: calc(var(--top-button-margin) + 7px);
    right: 140px;

    width: 280px;
}

.add {
    top: var(--top-button-margin);
}

.remove {
    top: calc(var(--top-button-margin) + var(--padding-between-buttons));
}

.add,
.remove {
    font-size: 30px;
}

.up {
    top: calc(2 * var(--top-button-margin) + 2 * var(--padding-between-buttons));
}

.down {
    top: calc(2 * var(--top-button-margin) + 3 * var(--padding-between-buttons));
}

.up,
.down {
    font-size: 25px;
}
